ion-textarea {
  border-width: 1px;
  border-radius: 20px 20px 20px 20px;
  --background: #d3d3d3;
}

ion-button {
  margin: auto;
}

.text {
  padding: 20px;
  opacity: 90%;
}

.user_label {
  margin: auto;
}
