<ion-content>
  <ion-item>
<ion-scroll scrollX="true">
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  <ion-button></ion-button>
  
  
</ion-scroll>
</ion-item>
</ion-content>