ion-title {
    padding: 20px 0 20px 20px;
}

ion-avatar{
   margin:10px;
}

ion-label {
    margin-left: 20px;
    padding: 0 0 10px 0;
}

.stories {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px 15px 15px 15px;
}
// ion-scroll[scrollX] {
//     white-space: nowrap;
//     height: 120px;
//     overflow: hidden;

//     .scroll-item {
//       display: inline-block;
//     }

//     .selectable-icon{
//       margin: 10px 20px 10px 20px;
//       color: red;
//       font-size: 100px;
//     }

//     ion-avatar img{
//       margin: 10px;
//     }
//   }

//   ion-scroll[scroll-avatar]{
//     height: 60px;
//   }