<ion-label>Stories</ion-label>
<ion-item lines="none">
    <ion-grid class="stories">

        <ion-row>
            <ion-item no-lines>
                <ion-scroll scrollX="true" scroll-avatar>
                    <ion-avatar *ngFor="let image of images">
                        <img src='image.url'>
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
                             class="scroll-item">
                    </ion-avatar>
                </ion-scroll>
            </ion-item>
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>


                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-avatar>
                    <img src="/assets/pics/index.jpg">
                </ion-avatar>
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <!-- <ion-label>User</ion-label> -->


                <!-- </ion-item> -->
        </ion-row>
    </ion-grid>
</ion-item>
