<ion-label>Stories</ion-label>
<ion-item lines="none">
    <ion-grid class="stories">

        <ion-row>
            <ion-item no-lines>
                <div scrollY="true" scroll-avatar>
                    <ion-avatar *ngFor="let image of images">
                        <div class="scroll-item">
                            <span>{{image.user}}</span>
                            <img [src]='image.url'>
                        </div>

                    </ion-avatar>
                </div>
            </ion-item>

        </ion-row>
    </ion-grid>
</ion-item>
