<ion-split-pane>
  <ion-menu contentId="messages">
    <ion-header>
      <ion-toolbar>
        <ion-title>Messages</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let username of users">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>{{ username }}</ion-label>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-footer>
    <ion-toolbar>
      <ion-title>Hi</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-split-pane>