
.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.my-message {
  background: var(--ion-color-light);
  color: black;
  border: solid;
  border-width: 1px;
  border-radius: 50px 50px 50px 50px;

}

.other-message {
  background: var(--ion-color-tertiary);
  border: solid;
  border-width: 1px;
  border-radius: 50px 50px 50px 50px;

}

ion-split-pane {
  --side-max-width: 50%;
}

.text-area {
  --border-radius: 5%;
}

ion-footer {
  flex: 1;
}

.message-photo-icon-name {
  margin-left: 16px;
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-right: 1em;
}


// #menu {
//     width: 40%;
// }

// #message-thread {
//     width: 60%;
// }


ion-split-pane {
  --side-max-width: 100%;
}

#menu {
  width: 40%;
}

#messages {
  width: 60%;
}

#footer{
  position: fixed;
  bottom: 0;
}

.spacer {
  flex-grow: 1;
}