<ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Direct</ion-list-header>
          <ion-icon name="pencil-outline"></ion-icon>
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-list>
        <ion-item *ngFor="let username of labels">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
            <ion-label>
              <h3> {{ username }}</h3>
              <p> Last seen {{ time_elapsed }} hours ago </p>
            </ion-label>
        </ion-item>
        <ion-label routerLink="/home" routerDirection="root">Home</ion-label>
      </ion-content>
    </ion-menu>
    <!-- <ion-router-outlet id="main-content"></ion-router-outlet> -->
  </ion-split-pane>
