ion-button {
    --border-style:solid;
    --border-color:black;
    // --padding-bottom:10%;
    // --padding-top:10%;

    
    --border-width:thin;
    --border-radius: 15px 15px 15px 15px;
}

ion-searchbar {
    --border-radius: 20px 20px 20px 20px;
}
