<ion-split-pane>
  <ion-menu contentId="discover">
    
      <ion-header>
        <ion-toolbar>
            <ion-item href="/home">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-item>
          <ion-title>Discover</ion-title>
        </ion-toolbar>
      </ion-header>
  
    <!-- Instagram Tag Buttons -->
    <ion-content>
      <ion-searchbar animated color="light"></ion-searchbar>
      <ion-list lines="none">
        <ion-item>
          <ion-button size="large" fill="clear">
            <ion-icon name="tv-outline"></ion-icon>
            IGTV
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button size="large" fill="clear">
            <ion-icon name="pricetag-outline"></ion-icon>
            Shop
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button size="large" fill="clear">
            <ion-icon name="star-half"></ion-icon>
            Decor
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button size="large" fill="clear">
            <ion-icon name="tv-outline"></ion-icon>
            Shop
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>
  <!-- Photo collage to be inserted here -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        c<img src="/index.jpg">
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-split-pane>