ion-button {
    --border-style:solid;
    --border-color:black;
    --padding-bottom:10%;
    --padding-top:10%;
    --border-width:thin;
}

.test-btn {
    --border-style:solid;
    --border-color:black;
}
