<ion-split-pane>
  <ion-menu contentId="discover">
    <ion-header>
      <ion-toolbar>
        <ion-title>Discover</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-searchbar animated color="light"></ion-searchbar>
      <ion-list>
        <ion-item>
          <ion-button size="large" fill="clear" class="disc_button">
            <ion-icon name="tv-outline"></ion-icon>
            IGTV
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button size="large" fill="clear">
            <ion-icon name="pricetag-outline"></ion-icon>
            Shop
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button size="large" fill="clear">
            <ion-icon name="tv-outline"></ion-icon>
            Shop
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-split-pane>