ion-button {
  --border-style: solid;
  --border-color: black;
  // --padding-bottom:10%;
  // --padding-top:10%;

  --border-width: thin;
  --border-radius: 15px 15px 15px 15px;
}

ion-searchbar {
  --border-radius: 20px 20px 20px 20px;
}

img {
  max-width: 100%;
  height: auto;
}

ion-split-pane {
  --side-width: 100%;
}


