.left {
  width: 100px;
  height: 100px;
  margin: auto;
  background-size: cover;
}

ion-card {
  border-style: solid;
  border-color: black;
  border-width: .5px;
  border-radius: 20px 20px 20px 20px;
}

ion-split-pane {
  --side-max-width: 50%;
}

ion-label {
  margin: auto;
}

.followerCount {
  margin: auto;
  padding: 0.025px;
}

#main {
  width: 60%;
}

#menu {
  width: 40%;
}

.bio {
  text-align: center;
}

.edit_profile {
  margin: auto;
  padding: 5px;
}

.back {
  top: 0;
  left: 0;
  position: absolute;
}
