ion-split-pane {
  --side-max-width: 60%;
}

#menu {
  width: 40%;
}

#main {
  width: 60%;
}

.location {
  --inner-padding-start: 0;
}

.profile {
  --inner-padding-start: 0;
}

img {
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  width: 100%;
  height: auto;
}

ion-card {
  border-radius: 15px 15px 15px 15px;
}